node_modules
small-data/*
mbtiles/*
mbtiles_0_1/*
mbtiles_2_3/*
mbtiles_4_5/*
mbtiles_6_7/*
mbtiles_8_9/*
mbtiles_10_11/*
mbtiles_12_13/*
mbtiles_14_15/*
geojsons/*
test_area.gdb
test_area_z4_0_1.gdb
test_area_z4_2_3.gdb
test_area_z4_4_5.gdb
test_area_z4_6_7.gdb
test_area_z4_8_9.gdb
test_area_z4_10_11.gdb
test_area_z4_12_13.gdb
test_area_z4_14_15.gdb
